#page-login {
  padding: 1em;
  text-align: center;

  a.signup {
    display: block;
    margin: 3em 0 0;
  }
}

@media (max-width: $screen-xs-max) {
  #page-login {
    .form-control {
      width: 90%;
    }
  }
}



