#page-login {
  padding: 1em;

  form {
    .form-group {
      text-align: center;
    }
  }

  a.signup {
    display: block;
    margin: 3em 0 0;
    text-align: center;
  }
}

@media (max-width: $screen-xs-max) {
  #page-login {
    .form-control {
      width: 90%;
    }
  }
}



