#page-login {
  padding: 1em;

  h2 {
    margin-bottom: 1em;
  }

  #loginForm_username + .post-label  {
    font-size: 150%;
    font-style: italic;

    span:nth-child(1) {
      color: #ccc;
      margin: 0 0.1em;
    }
    span:nth-child(2) {
      color: #666;
    }
  }
}



