@import "compass";


#page-mailbox {
  .folders {
    margin-top: 2em;

    ul {
      font-size: 120%;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin: 0.2em 0;

        a {
          cursor: pointer;
        }
      }
    }
  }

  .messages {
    overflow: hidden;

    .actions {
      @include clearfix;
      float: left;
    }

    ul.pagination {
      @include clearfix;
      float: right;
      margin: 0;
    }

    .message-table {
      .preview {
        max-width: 70%;
        color: #777;
      }

      .subject {
        max-width: 30%;
      }

      .meta {
        .in i {
          color: #090;
        }

        .out i {
          color: #009;
        }
      }
    }
  }
}


@media (min-width: $screen-sm) {
  #page-mailbox {
    padding: 1.5em 1em 1em;
  
    .messages {
      padding-left: 3em;
    }
  }

}




