@import "compass";


#page-mailbox {
  .folders {
    margin-top: 2em;

    ul {
      font-size: 120%;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin: 0.2em 0;

        a {
          cursor: pointer;
        }
      }
    }
  }

  .messages {
    overflow: hidden;

    .actions {
      @include clearfix;
      float: left;
    }

    ul.pagination {
      @include clearfix;
      float: right;
      margin: 0;
    }

    .message-table {
      li {
        padding: 0;
        border-bottom: 1px solid #999;

        & > div {
          padding: 0.5em 0;

          &.secure {
            background-color: $pgp-secure-color;
          }
        }
      }

      .content {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0 0.4em 0 1em;

        .result-messages {
          .alert {
            padding: 0.1em 0.3em;
          }
        }

        & > div {
          @include clearfix;

          .date {
            display: block;
            float: right;
            margin: 0.2em 0.2em 0 0;
            z-index: 1000;
          }

          .from, .subject, .preview {
            display: block;
            float: left;
            clear: left;
            width: 80%;
            overflow: hidden;
            height: 1.3em;  
            margin-top: 0.1em;          
          }

          .from {
            font-size: 120%;
            font-weight: bold;
          }

          .subject {
            color: #666;
            font-weight: bold;
          }

          .preview {
            margin-top: 0.8em;
            color: #666;
          }

          .indicators {
            color: #666;
            display: block;
            float: right;
            clear: right;

            i.blink {
              @include animation(blink, 3s, ease-out, infinite);
            }
          }
        }
      }

      .preview {
        max-width: 80%;
        color: #777;
      }

      .subject {
        max-width: 30%;
      }

      .meta {
        .in i {
          color: #090;
        }

        .out i {
          color: #009;
        }
      }
    }
  }
}


@media (min-width: $screen-sm) {
  #page-mailbox {
    padding: 1.5em 1em 1em;
  
    .messages {
      padding-left: 3em;
    }
  }

}




