#page-signup {
  padding: 1em;
  text-align: center;

  a.login {
    display: block;
    margin: 3em 0 0;
  }

  #signupForm_username + .post-label  {
    position: relative;
    font-size: 150%;
    font-style: italic;

    span:nth-child(1) {
      color: #ccc;
      margin: 0 0.1em;
    }
    span:nth-child(2) {
      color: #666;
    }
  }

  .terms.checkbox {
    display: inline-block;
  }

}

@media (max-width: $screen-xs-max) {
  #page-signup {
    .form-control {
      width: 90%;
    }
  }
}





