$screen-xs-max: 640px;

$imagePath: "../images";

$brand-primary: #3fa757;

$navbar-inverse-bg:                         #000;
$navbar-inverse-border:                     #000;

$header-height: 50px;
$header-height-xs: 40px;