$imagePath: "../images";
$iconSpritePath: $imagePath + "/glyphicons-halflings.png";
$iconWhiteSpritePath: $imagePath"/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";


body {
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}



/* site header */

#site-header {
  h1 {
    max-height: 4em;
    margin-left: 1em;
    padding-left: 1.3em;
    background: image-url('logo.png', false, false) no-repeat left center;
    background-size: contain;
    font-size: 160%;

    span:nth-child(2) {
      color: #666;
    }
    span:nth-child(3) {
      color: #999;
    }
  }
}


/* main content */

#content {
  background-color: #fff;
  color: #000;
}



/* additional stuff */
@import "views/home";