@import "variables";
@import "sass-bootstrap/lib/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "compass/css3";
@import "./_mixins";
@import "./_loader";



body {
    background: $body-bg;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}


a {
  cursor: pointer;

  i {
    margin-right: 0.2em;
  }
}



/* logo */
.logo {
  text-align: center;

  h1.logo-brand {
    margin: 1em 0;
    display: inline-block;
    color: #fff;
    padding-left: 1.3em;
    background: image-url('logo.png', false, false) no-repeat left center;
    background-size: contain;
  }
}

/* site header */

#site-header {
  background-color: $body-bg;
  position: fixed;
  width: 100%;
  z-index: 100000;
  height: $header-height;

  .navbar {
    margin: 0; 
  }

  .navbar-brand {
    color: #fff;
    margin-left: 0.5em;
    padding-left: 1.2em;
    background: image-url('logo.png', false, false) no-repeat left center;
    background-size: 12% 50%;
    font-size: 160%;
  }

}



@media (max-width: $screen-xs-max) {
  #site-header {
    height: $header-height-xs;
  }
}



#small-screen-nav {
  width: 100%;
  height: $header-height-xs;

  ul.nav {
    margin: 0;

    & > li {
      position: inherit;
      float: left;
      width: 15%;

      &:nth-child(1) {
        width: 70%;
        a {
          text-align: left;
        }
      }

      & > a {
        font-size: 140%;
        text-align: center;
      }
    }

    li.dropdown.open {
      background-color: $nav-link-hover-bg;
      @include box-shadow(5px 5px 5px #333);
    }
  }

  button {
    position: relative;
    float: left;
    @include border-radius(0px);
    margin: 0;
    width: 17%;

    &:nth-child(6) {
      width: 15%;
    }
  }
}


/* main content */

#content {
  position: relative;
  top: $header-height;
  width: 100%;
  background-color: #fff;
  color: #000;
  min-height: 400px;
  z-index: 999;
}

@media (max-width: $screen-xs-max) {
  #content {
    top: $header-height-xs;
  }
}


/* log viewer */

#log-viewer {
  width: 100%;

  pre {
    border-top: 2px solid #666;
    background-color: #ccc;
    color: #000;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 80%;
    height: 20%;
    overflow: auto;
  }

  button {
    font-size: 50%;
    z-index: 100;
    position: fixed;
    left: 0;
    bottom: 0;
  }
}


/* form validation */

.form-control {
  &.ng-invalid.ng-dirty {
    border: 1px solid #f00;
    @include single-box-shadow(#f00);
  }
}



/* tables */

.standard-table {
  clear: both;
  padding-top: 0.2em;

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    & > li {
      @include clearfix;
      margin: 0;
      padding: 0.5em 0;
      background-color: #f6f6f6;
      border-bottom: 1px solid #e1e1e1;

      span {
        white-space: nowrap;
        overflow: hidden;
      }

    }
  }
}

/* modals */

.modal-content {
  padding: 1em;
  color: #000;
}

.modal-backdrop.in {
  opacity: 0.9;
}



/* specific pages, widgets and sections */

@import "forms";
@import "views/signup";
@import "views/login";
@import "views/mailbox";
@import "views/pgpKeys";
@import "views/compose";