<div ng-class="msgType">

  <div class="content">

    <div>
      <div class="date" ng-show="date">{{ date }}</div>
      <div class="from">
        <span ng-show="from">{{ from }}</span>
        <span ng-hide="from"><em>Processing...</em></span>        
      </div>
      <div class="subject">
        <span ng-show="subject">{{ subject }}</span>
        <span ng-hide="subject"><em>Processing...</em></span>
      </div>
      <div class="preview">
        <span ng-show="preview">{{ preview }}</span>
        <span ng-hide="preview"><em>Generating preview...</em></span>
      </div>

      <div class="indicators">
        <i class="fa fa-download blink"  ng-show="'downloading' === state"></i>
        <i class="fa fa-cog" ng-show="'processing' === state"></i>
      </div>
    </div>

    <div class="result-messages">
      <div class="alert alert-danger" ng-show="'error' === state">
        {{errorMsg}}
      </div>
    </div>

  </div>  
</div>

