<span class="meta col-md-2">
  <span class="out" ng-show="typeOutbound">
    <i class="fa fa-arrow-circle-up"></i>      
    <span class="who">{{ to }}</span>
  </span>
  <span class="in" ng-show="!typeOutbound">
    <i class="fa fa-arrow-circle-down"></i>      
    <span class="who">{{ from }}</span>
  </span>
</span>
<span class="subject_preview col-md-8">
  <span class="subject">{{ subject }}</span> - <span class="preview">{{ preview }}</span>
</span>
<span class="date col-md-1 col-md-offset-1">{{ date }} </span>
