<a ng-class="msgType" ui-sref="user.mail.message({id: id})">
  <div class="content">

    <div>
      <div class="date" ng-show="date">{{ date }}</div>
      <div class="from">
        <span ng-show="from">{{ from }}</span>
        <span ng-hide="from"><em>Processing...</em></span>        
      </div>
      <div class="subject">
        <span ng-show="subject">{{ subject }}</span>
        <span ng-hide="subject"><em>Processing...</em></span>
      </div>
      <div class="preview">
        <span ng-show="preview">{{ preview }}</span>
        <span ng-hide="preview"><em>Generating preview...</em></span>
      </div>

      <div class="indicators">
        <i class="fa fa-download blink"  ng-show="'downloading' === state" tilte="Downloading..."></i>
        <i class="fa fa-cog fa-spin" ng-show="'processing' === state" title="Processing..."></i>
        <span ng-hide="'processing' === state">
          <i class="fa fa-thumbs-up" ng-class="msgType" ng-show="isVerified" title="Message signature verified"></i>
          <i class="fa fa-lock secure" ng-show="isSecure" title="Message is private"></i>
          <i class="fa fa-unlock insecure" ng-hide="isSecure" title="Message is not private"></i>
        </span>
      </div>
    </div>

    <div class="result-messages">
      <div class="alert alert-danger" ng-show="'error' === state">
        {{errorMsg}}
      </div>
    </div>

  </div>  
</a>

