<ul class="identities">
  <li class="identity" ng-repeat="identity in key.identities">
    <span class="text" title="{{ identity.created }}">{{ identity.text }}</span>
  </li>
</ul>
<div class="label">Primary key</div>
<div class="keyInfo">
  <span class="hash">{{ key.hash }}</span>
  <span class="algo"><em>Algorithm:</em>{{ key.bits }}-bit {{ key.algorithm }}</span>
  <span class="valid"><em>Validity:</em>{{ key.created | prettyDate }} - {{ key.expires | prettyDate }}</span>
  <span class="caps"><em>Capabilities:</em>{{ key.caps | keyCapability }}</span>
</div>
<div class="label">Sub keys</div>
<ul class="subkeys">
  <li class="keyInfo" ng-repeat="subkey in key.subKeys">
    <span class="hash">{{ subkey.hash }}</span>
    <span class="algo"><em>Algorithm:</em>{{ subkey.bits }}-bit {{ subkey.algorithm }}</span>
    <span class="valid"><em>Validity:</em>{{ subkey.created | prettyDate }} - {{ subkey.expires | prettyDate }}</span>
    <span class="caps"><em>Capabilities:</em>{{ subkey.caps | keyCapability }}</span>
  </li>
</ul>
