<div id="page-mailbox">
  <div ng-controller="MailboxCtrl">

    <div class="row">
      <div class="hidden-xs col-sm-1">
        <div class="compose">
          <button type="button" class="btn btn-primary" ui-sref="user.mail.compose" ng-attr-title="Compose a message">Compose</button>
        </div>
        <div class="folders">
          <div loader ng-hide="folders"></div>
          <ul ng-show="folders">
            <li ng-repeat="folder in folders">
              <a ng-class="folder.id" ng-click="openFolder(folder.id)" ng-attr-title="Open {{ folder.name }}">{{ folder.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-11">
        <div ui-view></div>
      </div>
    </div>

  </div>
</div>
