<div id="page-mailbox">
  <div ng-controller="MailboxCtrl">

    <div class="visible-xs">
      <div class="folder-buttons btn-group">
        <button type="button" class="btn btn-default">
          <i class="fa fa-arrow-circle-o-down"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-envelope-o"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-arrow-circle-o-up"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-trash-o"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-ellipsis-h"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="hidden-xs col-md-1">
        <div class="compose">
          <button type="button" class="btn btn-primary" ui-sref="mail.compose" ng-attr-title="Compose a message">Compose</button>
        </div>
        <div class="folders">
          <div loader ng-hide="folders"></div>
          <ul ng-show="folders">
            <li ng-repeat="folder in folders">
              <a ng-class="folder.id" ng-click="openFolder(folder.id)" ng-attr-title="Open {{ folder.name }}">{{ folder.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-11">
        <div ui-view></div>
      </div>
    </div>

  </div>
</div>
