<div id="page-mailbox">
  <div class="row">

    <div ng-controller="MailboxCtrl">
      <div class="left col-md-2">
        <div class="compose">
          <button type="button" class="btn btn-primary">Compose</button>
        </div>
        <div class="folders">
          <div loader ng-hide="folders"></div>
          <ul ng-show="folders">
            <li ng-repeat="folder in folders">
              <a ng-class="folder.id" href="#" ng-click="openFolder(folder.id)" ng-attr-title="Open {{ folder.name }}">{{ folder.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right col-md-10">
        <div ui-view></div>
      </div>
    </div>

  </div>
</div>
