<div id="page-home" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h2>Create account</h2>
      <form role="form" id="signup-form" ng-controller="SignupFormCtrl">
          <div class="form-group">
            <label class="sr-only" for="signup-username">Username</label>
            <input type="text" class="form-control" id="signup-username" placeholder="Username"
                   ng-model="user.name"
                   ng-minlength="3"
                   ng-maxlength="32"
                >
            <span class="post-label"><span>@</span><span>darkmail.io</span></span>
          </div>
          <div class="form-group">
            <label class="sr-only" for="signup-password">Password</label>
            <input type="password" class="form-control" id="signup-password" placeholder="Password"
                   ng-model="user.password"
                   ng-minlength="8"
                   ng-maxlength="64"
                >
          </div>
          <div class="form-group">
            <label class="sr-only" for="signup-confirm">Confirm password</label>
            <input type="password" class="form-control" id="signup-confirm" placeholder="Confirm password"
                   ng-model="user.confirm"
                   ng-minlength="8"
                   ng-maxlength="64"
                >
          </div>
          <div class="terms checkbox">
            <label>
              <input type="checkbox"  ng-model="user.agree"> I agree to the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a>.
            </label>
          </div>
          <div class="submit">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>
