<div id="page-signup" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h2>Create account</h2>
      <form role="form" name="signupForm" ng-controller="SignupFormCtrl">
          <div class="form-group">
            <label class="sr-only" for="signup-username">Username</label>
            <input type="text" class="form-control" name="username" id="signup-username" placeholder="Username"
                   ng-model="user.name"
                   ng-minlength="3"
                   ng-maxlength="32"
                   required
                >
            <span class="post-label"><span>@</span><span>darkmail.io</span></span>
          </div>
          <div class="form-group">
            <label class="sr-only" for="signupForm_password">Password</label>
            <input type="password" class="form-control" name="password" id="signupForm_password" placeholder="Password"
                   ng-model="user.password"
                   ng-minlength="8"
                   ng-maxlength="64"
                   required
                >
          </div>
          <div class="form-group">
            <label class="sr-only" for="signupForm_confirm">Confirm password</label>
            <input type="password" class="form-control" name="confirm" id="signupForm_confirm" placeholder="Confirm password"
                   ng-model="user.confirm"
                   ng-minlength="8"
                   ng-maxlength="64"
                   required
                   ui-validate="{ match: '$value === user.password'}"
                >
            <span ng-show='signupForm.confirm.$error.validator'>Passwords do not match!</span>
          </div>
          <div class="terms checkbox">
            <label>
              <input type="checkbox" name="agree" id="signupForm_agree"
                     ng-model="user.agree"
                     required
                  > I agree to the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a>.
            </label>
          </div>
          <div class="submit">
            <button type="submit" class="btn btn-primary"
                    ng-disabled="!canSubmit()"
                >Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>
